body {
    font-family: Inconsolata;
    }

#menu-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f2;
}

#the-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 860px;
    background-color: #f7f5f2; /*era blue*/
}

#menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:21px ;
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
    background-color: #f7f5f2; /*era red*/

}

#menu-title-span {
    text-align: center;
    background-color: black;
    color: white;
    width: 80px;
}



#menu-box {
    width: 460px;
    height: 35px;
    display: flex;
    box-shadow: 0 0 0.5em gray;
    background-color: #f7f5f2; /*era green*/

}

.button {
    width: 50%;
    text-align: center;
    padding-top: 5px;
}

.span-button {
    display: inline-block;
    width: 98%;
    vertical-align: middle;
    line-height: 150% ;
    background-color: #f7f5f2;
    
}

.span-button:hover {
    background-color: gray;
    color: white;
}
#menu-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* height: 591 px;*/
    /*height: 80%;*/
}

#menu-content-list {
    height: 466px; 
    width: 460px;
    margin-top: 5px;
    box-shadow: 0 0 0.5em gray;
    background-color: #f7f5f2; /*era orange*/
}

#menu-content-list li {
    padding-bottom: 15px;
}

li { 
    padding: 20px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.itens-menu-title {
    font-weight: bold;
    padding-bottom: 15px;
}

.div-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 269px;
    width: 100%;
    margin-top:35px ;
    background-color: #f7f5f2; /* era purple*/
    
}

#imagem-cafe {
    width: 460px; 
    filter: grayscale(0.7);

}