html {
    scroll-behavior: smooth;
  }

body {
    font-family: Inconsolata;
    }

/*************** NAVIGATION *************/
.topheader {
    height: 62px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: fixed;
    min-width: 100%; 
    z-index: 1;
  }

  .navigation li {
    display: block;
    text-transform: uppercase;
  }

  .navigation li a {
    color: white;
    text-decoration: none;
    /*padding: 100% 50%;*/
    border: 1vh solid black ;
  }

  .navigation li a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-color: white;
  }
  .topheader {
    height: 62px;
    width: 100%;
}

/***************** HEADER ***************/
header {
    color: white;
}

.heroimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    text-align: center;
    filter: grayscale(0.7);
    width: 100%;
}

.heroimg h1 {
    grid-area: 2 / 1 / 3 / 4;
    margin: auto;
    font-size: 4em;
    font-weight: 400;
}

.heroimg img {
    grid-area: 1 / 1 / 4 / 4;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

.herotext-left {
    grid-area: 3 / 1 / 4 / 2;
    background-color: black;
    padding: .5em;
    margin: auto auto auto 7.5%;
}

.herotext-right {
    grid-area: 3 / 3 / 4 / 4;
    margin: auto 7.5% auto auto;
    
}
/*responsivo header*/

@media only screen and (max-width: 522px) {
    .heroimg {
        grid-template-rows: 5fr 1fr 1fr;
    }

    .heroimg h1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .herotext-left {
        grid-area: 2 / 1 / 3 / 4;
        margin: auto;
    }

    .herotext-right {
        grid-area: 3 / 1 / 4 / 4;
        margin: auto;
    }

    .navigation li a {
        font-size: .75em;
        border: .5vh solid black ;
    }

    #menu-content-list-2-display li {
        padding: 5px;
    }

    #about-the-cafe {
        padding: 10px;
    }

    #div-imagem-about {
        margin-bottom: 210px;
    }
    #the-menu {
        margin-top: 60px;
    }


}

@media only screen and (max-width: 500px) {
    .heroimg {
        grid-template-rows: 5fr 1fr 1fr;
        width: 100%;
    }

    .heroimg img {
        height: 375px;
        width: auto;
        overflow: hidden
    }

    .heroimg h1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .herotext-left {
        grid-area: 2 / 1 / 3 / 4;
        margin: auto;
    }

    .herotext-right {
        grid-area: 3 / 1 / 4 / 4;
        margin: auto;
    }
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
   /* height: 591 px;*/
    /*height: 80%;*/
    }
/*julia*/

#about-the-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 822px;
    padding-top: 40px;
    background-color: #f7f5f2;
}

#about-content {
    height: 742px;
    width: 460px;
    align-items:flex-start;
    background-color: #f7f5f2;

}

.jjtitulo {
    /*position: absolute;*/
    margin: auto;
    /*margin-top: 40px;*/
    width: 140px;
    height: 21px;
    top: 36px;
    margin-bottom: 60px;
    padding-left: 6px;
    
  
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    color: white;
    background-color: black;
    }
  
  .jjtext1 {
    /*position: absolute;*/
    width: 100%;
    /*height: 170px;*/
    left: 212px;
    top: 97px;
    margin-bottom: 25px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    /*line-height: 19px;*/
    }
  
  .jjtext2 {
    /*position: absolute;*/
    width: 439px;
    /*height: 84px;*/
    left: 210px;
    top: 267px;
    padding: 5%;
    max-width: 95%;
    
  
    /*font-family: 'Roboto Condensed';*/
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    }
  
  .jjimagem1 {
    /*position: absolute;*/
    width: 460px;
    height: 262px;
    left: 212px;
    top: 355px;
    filter: grayscale(0.7);
    max-width: 100%;
    } 
    


  .jjtext3{
  /*  position: absolute; */
    z-index: 1;
    width: 100%;
    height: 13px;
    left: 212px;
    top: 632px;
    margin:10px ;
    margin-left: 0px;
    
    
  
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 13px;
  }
  
  .jjcaixinha{
    background-color: rgb(238, 242, 247);
    border-left: 6px solid #ccc;
    width: 100%;
  }



/*juliana*/
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f2;
    max-width: 100%;
}


#the-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 900px;
    padding-top: 50px;
    background-color: blue; /*era blue*/ /*#f7f5f2;*/
    max-width: 100%;
}

#menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:21px ;
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
    /*margin-top: 100px;*/
    
    background-color: #f7f5f2; /*era red*/

}

#menu-title-span {
    text-align: center;
    background-color: black;
    color: white;
    width: 80px;
}



#menu-box {
    width: 460px;
    height: 35px;
    display: flex;
    box-shadow: 0 0 0.5em gray;
    background-color: #f7f5f2; /*era green*/
    max-width: 100%;

}

.button {
    width: 50%;
    text-align: center;
    padding-top: 5px;
}

.span-button {
    display: inline-block;
    width: 98%;
    vertical-align: middle;
    line-height: 150% ;
    background-color: #f7f5f2;
    
}

.span-button:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}


#menu-content-list {
    height: 460px; 
    width: 460px;
    margin-top: 5px;
    padding-top: 30px;
    box-shadow: 0 0 0.5em gray;
    background-color: #f7f5f2; /*era orange*/
    max-width: 210%;
}

#menu-content-list li {
    padding-bottom: 15px;
   
    
}

li { 
    padding: 20px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.itens-menu-title {
    /*font-weight: bold;*/
    padding-bottom: 15px;
    color: black;
}

.itens-menu-text {
    color: gray;
   
}

#menu-content-list-2-display {
    display: none;
   
}

#drink {
    background-color: gray;
    color: white;
}

.div-imagem {
   /* position: relative; */
    display: flex;
    flex-direction: column;
    height: 269px; /*269*/
    width: 460px;
    margin-top:35px ;
    background-color: red; /* era purple*/
    max-width: 100%;
    
}


#imagem-cafe {
    width: 460px; 
    filter: grayscale(0.7);
    max-width: 100%;

}

/* FOOTER - Vinicius */
/* ------------------------------------------------------------------------------------------------------------------- */


.v_inputs {

    width: 460px;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 100%;
    
}

.v_button {

    
    color: white;
    background-color: black;
    height: 30px;
    width: 22%;
    margin-top: 5px;
    font-size: clamp(7px, 1vw, 10px);
    cursor: pointer;

}

.v_title {

    font-size: 16px;
    color: white;
    background-color: black;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 150px;
    text-align: center;

}

.v_FYI {
    background-color: black;
    color: white;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px;
    width: 5%;
}

.v_footer p {

    font-size: 15px;
    line-height: 150%;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 460px;
    max-width: 100%;

}

#v_map {

    width: 460px; 
    margin-top: 5px;
    margin-bottom: 5px;
    filter: grayscale(0.7);
    max-width: 100%;
    
}

#v_footer-section {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f2;
    /*max-width: 100%;*/

}

#v_where-to-find-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 860px;
    background-color: #f7f5f2;
}

#v_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}



#v_button-div {

    width: 460px;
    max-width: 100%;

}

#v_inputs-div {

    width: 460px;
    max-width: 100%;

}